<div class="jumbotron center">
  <h2>Welcome to Skoczek Trojański App</h2>
  <h2>The best app ever created!</h2>
  <p><%= link_to "Sign up for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Explore Articles</h2>
    <p>We have awesome articles written by our players, not sure about the app yet? Don't worry just view as a guest, we're sure you'll come back to sign-up at a later time </p>
    <p><%= link_to "View all aritcles as a Guest!", articles_path, class: "btn btn-primary btn-xlarge" %></p>
  </div>
  <div class="col-lg-4">
    <h2>Unlock all features!</h2>
    <p>Sign up for the app and unlock all it's magic, create and share articles, hangout with our players in the chat, comment on articles you have read, like/dislike and much much more! </p>
    <p><%= link_to "Sign up for an account", signup_path, class: "btn btn-primary btn-xlarge" %></p>
 </div>
  <div class="col-lg-4">
    <h2>Interested in just one subject?</h2>
    <p>View our tags listing page and select which subject you want to read on.</p>
    <p><%= link_to "View tags listing", tags_path, class: "btn btn-primary btn-xlarge" %></p>
  </div>
</div>