<footer class="footer">
  <small>
    <strong>Created</a></strong>
    by <em>Jakub Lech Pająk</a></em>
  </small>
  <small>
    <strong>Thanks for manual testing and suggestions:</a></strong>
    <em><a href="http://www.pkoziol.cal24.pl">Paweł Kozioł</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>